<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.supermandy.isight.ui">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Activity_Test_ColorBlind"/>
        <activity android:name=".Activity_Quiz"/>
        <activity android:name=".Activity_Test_AmslerGrid"/>
        <activity android:name=".Activity_Test_Astigmatism"/>
        <activity android:name=".Activity_Test_PD"/>
        <activity
            android:name=".Activity_Test_VisualAcuity"
            android:label="@string/title_activity_activity__test__visual_acuity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".AccountActivity"/>
        <activity android:name=".ChangePWDActivity"/>
        <activity android:name=".Activity_Test_MotionAcuity"/>
    </application>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="8" />

    <!-- To use camera in face recognition -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <!-- To use microphone in speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone"/>

    <!-- To connect client and server -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
